@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕",
    나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
}

::-moz-selection {
  background: #5b3cb6;
  color: white;
}
::selection {
  background: #5b3cb6;
  color: white;
}

pre {
  width: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.6;
  font-weight: bold;
  word-break: break-all;
}

h2 {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: bold;
  word-break: break-all;
}

h3 {
  font-size: 1.25em;
  line-height: 1.6;
  font-weight: bold;
  word-break: break-all;
}

h4 {
  font-size: 1em;
  line-height: 1.6;
  font-weight: bold;
  word-break: break-all;
}

h5 {
  font-size: 0.875em;
  line-height: 1.6;
  font-weight: bold;
  word-break: break-all;
}

h6 {
  font-size: 0.85em;
  line-height: 1.6;
  font-weight: bold;
  word-break: break-all;
}

p {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  word-break: break-all;
}

code {
  font-weight: 500;
}

strong {
  font-weight: bold;
}

blockquote {
  font-weight: bold;
}

del {
  font-weight: 400;
}

.react-syntax-highlighter-line-number {
  margin-right: 16px;
  color: darkgray;
}

.outline-title {
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.react-loading-skeleton {
  border-radius: 1.5rem !important;
}

@layer components {
  .silverbi-project-card {
    @apply relative cursor-pointer overflow-hidden rounded-xxl border-2 border-background-1 bg-background-1;
  }

  .silverbi-project-img {
    @apply object-cover;
  }
}
