@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  line-height: 36px;
  font-size: 16px;
  font-weight: 400;
  word-break: break-all;
}

body {
  cursor: default;
  height: 100vh;
}

::-moz-selection {
  background: #5b3cb6;
  color: white;
}
::selection {
  background: #5b3cb6;
  color: white;
}

pre {
  width: 100%;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 62px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 56px;
}

h3 {
  font-size: 20px;
  line-height: 52px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 46px;
  font-weight: 600;
}

p {
  margin: 0;
}

span {
  margin: 0;
}

strong {
  font-weight: 600;
}

blockquote {
  font-weight: 600;
}

del {
  font-weight: 400;
}

.react-syntax-highlighter-line-number {
  margin-right: 16px;
  color: darkgray;
}

.outline-title {
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.react-loading-skeleton {
  border-radius: 1.5rem !important;
}

@layer components {
  .silverbi-project-card {
    @apply relative cursor-pointer overflow-hidden rounded-xxl border-2 border-background-1 bg-background-1;
  }

  .silverbi-project-img {
    @apply object-cover;
  }
}
